<div id="reimb-table">
    <div class="card">
        <div class="card-body">
            <div class="row g-6">
                <ul class="list-group list-group-horizontal">
                    <div class="cells">Reimbursement ID</div>
                    <div class="cells">Reimbursement Amount</div>
                    <div class="cells">Date Submitted</div>
                    <div class="cells">Date Resolved</div>
                    <div class="cells">Reimbursement Author</div>
                    <div class="cells">Reimbursement Resolver</div>
                    <div class="cells">Status</div>
                    <div class="cells">Type</div>
                </ul>
            </div> 
            <div class="row g-6">
                    <ul class="list-group list-group-horizontal">
                        <div class="cells">Placeholder</div>
                        <div class="cells">Placeholder</div>
                        <div class="cells">Placeholder</div>
                        <div class="cells">Placeholder</div>
                        <div class="cells">Placeholder</div>
                        <div class="cells">Placeholder</div>
                        <div class="cells">Placeholder</div>
                        <div class="cells">Placeholder</div>
                </ul>    
            </div>
        </div>
    </div>
</div>