<hr>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="d-flex justify-content-center">
    <div>
        <h1 class="display-1 p-xxl-5 bg-light border">Welcome to the ERS System</h1>
    </div>
</div>
<div class="d-flex justify-content-center">
    <div>
        <h3 class="display-6 p-xxl-5 bg-light border">What would you like to do today</h3>
    </div>
</div>

<div class="mx-auto d-flex justify-content-around">
<button type="button" id="reimbAddButton" class="btn btn-primary px-2">Add a Reimbursement</button>
<button type="button" id="reimbViewButton" class="btn btn-primary px-2">View Past Reimbursements</button>
</div>

<br><br><br><br><br><br><br>
<hr>
<br>
<br>
<br>
<br>
<br>
<br>