<table>
    <tr>
        <th *ngFor = "let column of cols">
            {{column | uppercase}}
        </th>
     </tr>
    <tr *ngFor = "let row of data">
        <td>{{row.reimbId}}</td>
        <td>{{row.reimbAmount}}</td>
        <td>{{row.reimbSubmitted | date: 'dd-mm-yyyy'}}</td>
        <td>{{row.reimbResolved | date: 'dd-mm-yyyy'}}</td>
        <td>{{row.reimbReceipt}}</td>
        <td>{{row.reimbDescription}}</td>
        <td>{{row.reimbAuthor.ersFirstName}} {{row.reimbAuthor.ersLastName}}</td>
        <td>{{row.reimbResolver}} </td>
        <td>{{row.reimbStatusId.reimbStatus}}</td>
        <td>{{row.reimbTypeId.reimbType}}</td>

    </tr>
</table>

