<div class="container-fluid">
<h1>Welcome to the ERS System</h1>
<div>
<h3>**UserName** has manager access. Welcome</h3>
</div>
<div>
    <h4>There are currently **number** Reimbursements waiting approval</h4>
</div>
<h3>What would you like to do today</h3>
<div><button> <a routerLink=>Add a Reimbursement</a></button></div>
<div><button><a routerLink=>View Past Reimbursements</a></button></div>
<div><button><a routerLink=>Approve Reimbursements</a></button></div>
<div><button><a routerLink=>Deny Reimbursement</a></button></div>
</div>