<div class="user-table">
    <div class="card">
        <div class="card-body">
            <div class="row g-6">
                <ul class="list-group list-group-horizontal">
                    <div class="cells">Username</div>
                    <div class="cells">First Name</div>
                    <div class="cells">Last Name</div>
                    <div class="cells">Email</div>
                    <div class="cells">User Role</div>
                </ul>
            </div> 
            <div class="row g-6">
                <ul class="list-group list-group-horizontal">
                    <div class="cells">Placeholder</div>
                    <div class="cells">Placeholder</div>
                    <div class="cells">Placeholder</div>
                    <div class="cells">Placeholder</div>
                    <div class="cells">Placeholder</div>
                </ul>
            </div>
        </div>
    </div>    
</div>
