<div>
<app-reimb-table></app-reimb-table>
<div class="mx-auto d-flex justify-content-around">
    <button type="button" id="reimbAddButton" class="btn btn-primary px-2">View all Reimbursement</button>
    <button type="button" id="reimbViewButton" class="btn btn-primary px-2">View Pending Reimbursements</button>
    <button type="button" id="reimbAddButton" class="btn btn-primary px-2">Add a Reimbursement</button>
</div>
</div>
    <hr>
<br>
<br>
<hr>


<div>
<app-reimb-table></app-reimb-table>
<div class="mx-auto d-flex justify-content-around">
    <button type="button" id="reimbAddButton" class="btn btn-primary px-2">Approve Reimbrusement</button>
    <button type="button" id="reimbViewButton" class="btn btn-primary px-2">Deny Reimbursement</button>
</div>
</div>


